<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TenextCloud.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7C2B3C46D313DDEC431A196E6CA4C94A1F3E49C1</string>
				<key>dateExpires</key>
				<string>2021/6/4</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>89W69LHLD3.com.tencent.iot.explorer</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.networking.HotspotConfiguration</key>
				<true/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>89W69LHLD3</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>腾讯连连.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>183f2503-0de3-49f3-beb8-3b61603a82ba</string>
				<key>name</key>
				<string>iot_development</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>89W69LHLD3</string>
				<key>name</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
