<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/腾讯连连.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.tencent.iot.explorer</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.20</string>
		<key>CFBundleVersion</key>
		<string>6.3</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Chao Ren (45U44KXTL9)</string>
		<key>Team</key>
		<string>89W69LHLD3</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2020-06-09T06:35:33Z</date>
	<key>Name</key>
	<string>TenextCloud</string>
	<key>SchemeName</key>
	<string>TenextCloud</string>
</dict>
</plist>
